<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" id="sidebar">
  <h4>Hello, world</h4>...<h1>Hans Gamarra here!</h1>

  <ul>
    <li>
      <i class="fa fa-suitcase"></i> Systems Engineer</a>
    </li>
    <li>
      <i class="fa fa-music"></i> Drummer at <a href="http://thecrankersband.com">The Crankers</a>
    </li>
    <li>
      <i class="fa fa-map-marker"></i> Barranquilla, Colombia
    </li>
  </ul>

  <div class="text-right">
    <a href="https://github.com/hepu" target="new"><i class="fa fa-github"></i></a>
    <a href="https://www.facebook.com/hepu13" target="new"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/hepu13/" target="new"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/Hepu1303" target="new"><i class="fa fa-twitter"></i></a>
  </div>
</div>
