<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hans Gamarra</title>
    <link href="<%= stylesheet_path 'application' %>" rel="stylesheet" />
    <script src="<%= javascript_path 'application' %>" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
