<div class="row menu-separator">
  <div id="music" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Musical projects
        </h3>
      </div>
      <div class="panel-body">
        <%= link_to @links[:the_crankers], target: :new do %>
          <%= image_tag 'tc_logo.png', class: 'img-responsive' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
