// Navbar override
$navbar-inverse-bg: black;
$navbar-inverse-link-color: #AAA;
$navbar-inverse-link-active-color: white;
$navbar-inverse-link-hover-color: white;
$navbar-inverse-brand-color: $navbar-inverse-link-active-color;
